@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.header {
    @include flex(row, center, nowrap, center);
    height: 80px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 2;

    .headerContainer {

    }
}