@import "../styles/sass/variables";
@import "../styles/sass/mixins";

.button {
  @include text(('Rubik', monospace), 14px, 400, $bgColor);
  width: 170px;
  height: 44px;
  background: $primaryColor;
  padding: 0 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px #0b0b13;
  line-height: 42px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  text-decoration: none;

  &:hover {
    background: #0b0b13;
    box-shadow: 4px 4px $primaryColor;
  }
}

