.contactBlock {
    background-color: #e3ffba;
    height: 80vh;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: rgba(9, 8, 4, 0.1);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 80%;
    max-width: 500px;
}