@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactBlock {
  @include block($bgColor);
  //height: 80vh;

  .contactContainer {
    @include container;
    @include flex(column, center, nowrap, stretch);

    .title {
      align-self: flex-start;
      padding: 25px;
    }

    .formContainer {
      @include flex(column, space-evenly, nowrap, stretch);
      width: 80%;
      max-width: 500px;
      background-color: $bgSecondColor;
      padding: 30px 30px;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
      input {
        height: 42px;
        margin: 9px 0;
      }
      textarea {
        margin: 9px 0;
      }
    }
  }
}


