@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
  width: 250px;
  background-color: $bgSecondColor;
  @include flex(column, space-between, nowrap, center);
  text-align: center;
  margin: 25px;

  .icon {
    @include flex(column, center, nowrap, center);
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  span {
    padding: 0 10px 20px;
  }

  .description {
  }
}


