@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.hireMeBlock {
  @include block($bgSecondColor);

  .hireMeContainer {
    @include container();
    @include flex(column, space-evenly, nowrap, stretch);
    height: 100%;

    .title {
      align-self: flex-start;
      padding: 25px;
    }
  }
}


