@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
  //min-height: 100vh;
  @include block($bgSecondColor);

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, nowrap, center);


    .title {
      align-self: flex-start;
      padding: 25px;
    }

    .skills {
      @include flex(row, space-around, wrap, stretch);
      width: 100%;
    }
  }
}

//.title {
//  background-color: rgba(9, 8, 4, 0.1);
//}