@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.nav {
  @include flex(row, space-around, nowrap, center);
  width: 400px;
  height: 40px;
  background-color: $bgSecondColor;

  a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(11, 11, 19, 0.7);

    &:hover {
      color: $primaryColor
    }
  }

  .active {
    color: red;
  }
}


.black {
  color: black;
}