$textColor: #0b0b13;
$textSecondColor: #555;
$primaryColor: #2fbf71;
$bgColor: #fff;
$bgSecondColor: #f7f7ff;

//$bgColor: #0b0b13;
//$bgSecondColor: #555;
//$textColor: #fff;
//$textSecondColor: #f7f7ff;
//$primaryColor: #2fbf71;


