.footer {
    height: 100px;
    background-color: #17fffc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imgContainer img {
    height: 50px;
}