@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footer {
  @include text(('Rubik', monospac), 16px, 400, $textSecondColor);
  @include flex(column, space-around, nowrap, center);
  padding: 20px 0;
  background-color: $bgSecondColor;

  .imageContainer img {
    width: 20px;
    margin: 5px;
  }
}
