.projectsBlock {
    min-height: 100vh;
    background-color: #10101a;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 100%;
}

@media screen and (max-width: 904px) {
    .projects {
        justify-content: space-around;
    }
}
